# compiled output
/dist
/node_modules

# logs
npm-debug.log
yarn-error.log
pnpm-debug.log*

# system files
.DS_Store

# env files
.env
.env.test
.env.production
.env.development

# coverage
/coverage

# misc
*.zip
